.custom-navbar {
    background: rgba(255, 255, 255, 0.3); /* 透明白色背景 */
    backdrop-filter: blur(30px); /* 添加模糊效果 */
    border: 1px solid rgba(255, 255, 255, 0.2); /* 添加边框增强毛玻璃效果 */
    z-index: 1000; /* 确保导航栏在顶部显示 */
    position: relative; /* 使 z-index 生效 */
}

.navbar-brand, .nav a {
    color: #fff !important; /* 确保文本颜色为白色 */
}

.navbar-nav > li > a {
    color: #fff !important; /* 确保菜单项颜色为白色 */
}

.navbar-nav > li > a:hover {
    color: #ddd; /* 鼠标悬停时改变颜色 */
}
