{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Expect{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


    <!-- Floating window -->

{% endblock %}

{% block page_content %}
    <div id="floating-window">
        <div id="header" style="font-size: 18px; color: #FFFFFF;">AI分析</div>
        <div id="content">Loading...</div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
<div class="hello" style="display:inline-block;width:100%;margin-left:30px;">
    <h1 style="font-size: 36px; color: black;">您好！</h1>
</div>
<div style="display:inline-block;margin-bottom:20px;width:100%;margin-left:30px;">
    <h2 style="color: black;">符合您要求的结果：</h2>
</div>
<div class="container" style="width:1170px;margin-bottom:100px;">
    <div class="container" style="width:100%;margin-left:0px;float:left">
        <table width="100%" class="thead" style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.3); backdrop-filter: blur(10px); box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
            <thead>
                <tr>
                    <th class="col1" style="padding: 10px;">车型</th>
                    <th class="col2" style="padding: 10px;">品牌</th>
                    <th class="col3" style="padding: 10px;">车系</th>
                    <th class="col4" style="padding: 10px;">实际价格</th>
                    <th class="col5" style="padding: 10px;">车型名称</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="container" style="width:1140px;margin-left:0px;">
        <div class="city">
            <table width="100%" class="t_body">
                {% for i in w %}
                    <tr style="transition: background-color 0.3s;">
                        <td class="col1">{{ i['car_class'] }}</td>
                        <td class="col2">{{ i['car_brand_name'] }}</td>
                        <td class="col3">{{ i['car_series_name'] }}</td>
                        <td class="col4">{{ i['car_price'] }}</td>
                        <td class="col5"><a href="{{ url_for('info', name=i['car_type_name']) }}" style="color: #4A90E2; text-decoration: none;">{{ i['car_type_name'] }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
